@use 'src/styles/mixins' as m;

@include m.before(SD){
  .header {
    padding-top: 1rem;
    & .container {
      width: 100%;
      position: fixed;
    }
  }
}

@include m.between(SD, MD){
  .container {
    max-width: 768px;
  }
}

@include m.after(MD){
  .container {
    max-width: 1000px;
  }
}

@include m.after(LD){
  .container {
    max-width: 1200px;
  }
}

@include m.after(HD){
  .container {
    max-width: 1300px;
  }
}

.header {
    max-height: 150px;
    background-color: var(--header-bg);

    & > .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 auto;

      & > a {
        display: flex;
        align-items: center;
        color: var(--header-logo);
        font-weight: 900;
      }
      & span {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
}