.header {
    color: rgb(75 85 99 / 1);
    max-height: 150px;

    & > .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 auto;

      & > a {
        display: flex;
        align-items: center;
        color: rgb(17 24 39 / 1);
        font-weight: 900;
      }
      & span {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
    @media (min-width: 1024px){
      & > .container{
        max-width: 100%;
      }
    }
    @media (min-width: 768px) and (max-width: 1024px){
      & > .container {
        max-width: 768px;
      }
    }
    @media (min-width: 640px) and (max-width: 768px){
      & > .container {
        max-width: 640px;
      }
    }
}