.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    & .card {
        width: 150px;
        height: 300px;
        background-color: #ccc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    & .loading {
        font-size: 1.5rem;
    }

    & .error {
        font-size: 1.5rem;
        color: var(--color-red);
    }
}