.container {
  & .loginBtn {
    display: inline-flex;
    padding: 0.5rem;
    background-color: var(--kakao-bg-color);
    color: var(--kakao-text-color);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid #c1c1c1;
  }
}