@use 'src/styles/mixins' as m;

@include m.before(SD){
  .container {
    max-width: 640px;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem 0;
  }
}

@include m.between(SD, MD){
  .container {
    max-width: 768px;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem 0;
  }
}

@include m.after(MD){
  .container {
    max-width: 1000px;
  }
}

@include m.after(LD){
  .container {
    max-width: 1200px;
  }
}

@include m.after(HD){
  .container {
    max-width: 1300px;
  }
}

.footer {
  background-color: var(--color-bg);

  & .container {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;

    & .title {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--footer-logo);
    }

    & .copylight {
      font-size: 0.75rem;
      text-align: center;
      color: var(--footer-copylight);

      & > a{
        font-weight: 700;
        color: var(--footer-email)
      }
    }

    & .link {
      display: flex;
      gap: 0.5rem;
    }
  }
}