@use 'src/styles/mixins' as m;

.footer {
  background-color: var(--color-bg);

  & .container {
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 1.5rem 0;
    width: 100%;
    margin: 0 auto;

    @include m.after(SD){
      max-width: 768px;
      flex-direction: row;
    }

    @include m.after(MD){
      max-width: 1000px;
    }
    
    @include m.after(LD){
      max-width: 1200px;
    }
    
    @include m.after(HD){
      max-width: 1300px;
    }

    & .title {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--footer-logo);
    }

    & .copylight {
      font-size: 0.75rem;
      text-align: center;
      color: var(--footer-copylight);

      & > a{
        font-weight: 700;
        color: var(--footer-email)
      }
    }

    & .link {
      display: flex;
      gap: 0.5rem;
    }
  }
}