@use 'src/styles/mixins' as m;

@include m.before(SD){
  .hero {
    padding: 5rem 1rem!important;
  
    .container {
      flex-direction: column-reverse;
      justify-content: center!important;

      & .title {
        & h1 {
          font-size: 1.5rem!important;
          line-height: 1.5!important;
        }
        & p {
          font-size: 1rem!important;
          line-height: 1!important;
        }
      }
    }
  }
}

@include m.between(SD, MD){
  .container {
    flex-direction: column-reverse;
    justify-content: center!important;
  }
}

@include m.after(MD){
  .container {

    & .title {
      align-items: flex-start!important;
    }
  }
}

.hero {
  display: flex;
  min-height: 100vh;

  & .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    & .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      margin-left: 2.5rem;

      & h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
        color: var(--home-title);
        font-weight: 500;
      }
      & p {
        line-height: 1.625;
        text-align: left;
        color: var(--home-text);
      }
      & a {
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding: 0.5rem 1.5rem;
        background-color: var(--home-button-bg);
        border: {
          width: 0;
          radius: 0.5rem;
        }
        display: inline-flex;
        color: var(--home-button-text);
        position: relative;

        &:hover {
          background-color: var(--home-button-bg-hover);
          transition: all .3s ease;

          &::before {
            content: 'CLICK';
            text-align: center;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            left: 0;
            top: 0;
            transition: opacity 0.5s linear;
            opacity: 0;
            
            -webkit-background-clip: text;

            background: {
              image: var(--home-button-bg-hover-before);
            }
          }
        }
      }
    }

    & .animation {
      max-width: 32rem;
      min-width: 10rem;
    }
  }
}

