@use 'src/styles/mixins' as m;

@include m.before(SD){
  .container {
      max-width: 640px;
      flex-direction: column-reverse;
      justify-content: center!important;

      & .title {
        & h1 {
          font-size: 1.25rem;
          line-height: 1.5;
        }
        & p {
          font-size: 1rem;
          line-height: 1;
        }
      }
  }
}

@include m.between(SD, MD){
  .container {
    max-width: 768px;
    flex-direction: column-reverse;
    justify-content: center!important;
  }
}

@include m.after(MD){
  .container {
    max-width: 1000px;

    & .title {
      align-items: flex-start!important;
    }
  }
}

@include m.after(LD){
  .container {
    max-width: 1200px;
  }
}

@include m.after(HD){
  .container {
    max-width: 1300px;
  }
}

.hero {
  display: flex;
  min-height: 100vh;
  padding: 0 1rem;

  & .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    & .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      & h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
        color: var(--home-title);
        font-weight: 500;
        margin-bottom: 1rem;
      }
      & p {
        line-height: 1.625;
        margin-bottom: 2rem;
        color: var(--home-text);
      }
      & a {
        font-size: 1.125rem;
        line-height: 1.75rem;
        padding: 0.5rem 1.5rem;
        background-color: var(--home-button-bg);
        border-width: 0;
        border-radius: 0.25rem;
        display: inline-flex;
        cursor: pointer;
        color: var(--home-button-text);

      }
      & a:hover {
        background-color: var(--home-button-bg-hover);
        transition: all .3s ease;
      }
    }

    & .animation {
      max-width: 32rem;
      min-width: 10rem;
    }
  }
}

